* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #ff9800;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem;
}

.subname {
    font-size: 1.2rem;
    margin: 1rem;
}

.timer {
    font-size: 2.5rem;
}

.btn{
    padding: 15px 35px;
    margin: 2px 8px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 2px solid;
    border-color: white;
    color: white;
    background-color: #ff9800;
}
.btn:hover{
    background-color: white;
    color: #ff9800;
}
.btns{
    margin: 20px auto;   
}

.printArea {
    padding: 1rem;
    width: 50%;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1.4rem;
    color: #ff9800;
}
